In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib
%matplotlib inline

from sklearn.preprocessing import minmax_scale

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('./data/e_commerce_data.csv', encoding='ISO-8859-1')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

# 데이터 EDA & 전처리

## 기본 데이터 확인

In [3]:
df.shape

(541909, 8)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

- 연속형 변수라고 지칭하기 어려운 데이터들이 있다.

In [26]:
for col in df.columns:
    print(f'{col} unique len : {len(df[col].unique())}')
    print(f'unique of {col} : {df[col].unique()}')
    print('-'*50)

InvoiceNo unique len : 22190
unique of InvoiceNo : ['536365' '536366' '536367' ... '581585' '581586' '581587']
--------------------------------------------------
StockCode unique len : 3684
unique of StockCode : ['85123A' '71053' '84406B' ... '90214Z' '90089' '23843']
--------------------------------------------------
Description unique len : 3896
unique of Description : ['WHITE HANGING HEART T-LIGHT HOLDER' 'WHITE METAL LANTERN'
 'CREAM CUPID HEARTS COAT HANGER' ... 'PINK CRYSTAL SKULL PHONE CHARM'
 'CREAM HANGING HEART T-LIGHT HOLDER' 'PAPER CRAFT , LITTLE BIRDIE']
--------------------------------------------------
Quantity unique len : 436
unique of Quantity : [     6      8      2     32      3      4     24     12     48     18
     20     36     80     64     10    120     96     23      5      1
     -1     50     40    100    192    432    144    288    -12    -24
     16      9    128     25     30     28      7     72    200    600
    480     -6     14     -2     -4     -5     -7     -3     11     70
    252     60    216    384     27    108     52  -9360     75    270
     42    240     90    320     17   1824    204     69    -36   -192
   -144    160   2880   1400     19     39    -48    -50     56     13
   1440     -8     15    720    -20    156    324     41    -10    -72
    -11    402    378    150    300     22     34    408    972    208
   1008     26   1000    -25   1488    250   1394    400    110    -14
     37    -33     78     -9     21    272     84    -47    -18    -96
     47    -15    -30   1728     38    -60    -16     53   -240     76
    576    -32     29   2400    500    -80    180   -300   -500    -23
    -13    960    -21   1296   -150    -17    147    168    256    -40
   -100     54     31    860   1010   1356   1284    186    114    360
   1930   2000   3114   1300    670    176    648     62  74215 -74215
     89     33     46   -120    112    456    900   -600    -42    -94
     45    130   2592    420    800     35   1200    864    504    -76
   -200   1056   1500    280    407    141   3906   1152    198    117
   -720    125    -86     81    -35    768     88     43    700   -102
   2160     55    -49    342    304    640    220    350    -46    -64
    312    392   -624    -27    330    151   -432    -58     44   -670
  -1300  -1930  -2000  -3114    462     66    492    273     65     85
    -51   -960   1350    428  -1350    336    101    132    227   2700
    222    228    246    906    756    888    552    224    738    608
   4300    276    -52     58     98     51     74   1600    323    -22
   1515  -1515    660    104   -420    264    188    588    612    152
    -19   -480     49   -164   -160    430    701    828    540    696
    560   -576   -108   -250   -408    121    512    -37    291   3186
     83     87     79   -360    -28    -75    109   -121    129    261
    352    102   -288    348   1900    157    -39    116    968    684
    824   -828   -701    196    124    248    410    236    230    210
    448   -140   -400   -252   -110   -334   -318   -126   -113   -180
    140     86    840    -38    450     93    494     92   1788    624
    744    416    496    396    306   1878   1944    666    708   1428
    852   1412    528   -756   -152    -85    -34   -312    -79    -43
    -31    183   -186    -53    -82    -70    -68   1540  -1200   -130
   -220    672    -26    -29     67   -840  -1296     63     94    255
     57    126    468   -468   -324   -168   4800    -66   -112    912
   1992    136   3000    -45    232    832    992    630   1020   2100
    162   -162    -67   -276   -184    234    244   -244   -234   -132
  12540     95    760    139    115    774   2040   1120     59    490
    388    620   1404    698  80995 -80995]
--------------------------------------------------
InvoiceDate unique len : 20460
unique of InvoiceDate : ['12/1/2010 8:26' '12/1/2010 8:28' '12/1/2010 8:34' ... '12/9/2011 12:31'
 '12/9/2011 12:49' '12/9/2011 12:50']
--------------------------------------------------
UnitPrice unique len : 620
unique of UnitPrice : [2.55000e+00 3.39000e+00 2.75000e+00 7.65000e+00 4.25000e+00 1.85000e+00
 1.69000e+00 2.10000e+00 3.75000e+00 1.65000e+00 4.95000e+00 9.95000e+00
 5.95000e+00 7.95000e+00 8.50000e-01 6.50000e-01 1.25000e+00 2.95000e+00
 1.95000e+00 4.20000e-01 1.80000e+01 1.06000e+00 6.95000e+00 1.09500e+01
 3.45000e+00 5.50000e-01 3.80000e-01 1.45000e+00 3.95000e+00 6.75000e+00
 2.75000e+01 1.49500e+01 1.69500e+01 4.65000e+00 6.45000e+00 1.27500e+01
 1.99500e+01 8.50000e+00 3.82000e+00 3.37000e+00 5.45000e+00 6.35000e+00
 7.20000e-01 6.40000e-01 1.00000e-01 3.20000e-01 1.48000e+00 2.90000e-01
 1.65000e+02 3.57500e+01 3.35000e+00 1.06500e+01 1.50000e+01 9.50000e-01
 2.10000e-01 1.20000e-01 2.40000e-01 3.25000e+00 1.49000e+00 2.25000e+00
 1.55000e+00 1.89500e+01 8.95000e+00 5.00000e+01 2.99500e+01 4.60000e+00
 1.05000e+00 5.49000e+00 1.90000e-01 1.07500e+01 7.99500e+01 1.19500e+01
 3.00000e-02 7.50000e-01 3.60000e-01 3.40000e-01 1.60000e-01 1.88000e+00
 7.25000e+00 1.80000e-01 2.95000e+02 4.00000e+01 2.80000e+01 4.29500e+01
 2.19500e+01 2.69500e+01 2.92900e+01 1.40000e-01 0.00000e+00 5.55000e+00
 4.99500e+01 1.00000e+00 3.49000e+00 1.59500e+01 3.50000e+01 4.41000e+00
 3.00000e-01 6.60000e+00 1.93000e+00 3.21000e+00 5.30000e-01 2.81000e+02
 7.00000e-02 3.99500e+01 4.78000e+00 1.98400e+01 2.31000e+00 6.38000e+00
 9.89000e+00 3.86000e+00 5.27700e+01 3.88000e+00 3.26900e+01 2.67120e+02
 1.45000e+02 1.99400e+01 5.00000e-01 2.50000e-01 2.49500e+01 3.59500e+01
 1.75000e+02 3.81000e+00 1.70000e-01 2.50000e+00 7.50000e+00 6.25000e+00
 2.12000e+00 1.25000e+02 2.00000e+01 5.00000e+00 5.76000e+00 4.25000e+01
 8.49000e+00 2.69300e+01 1.23400e+01 3.50000e+00 2.00000e+00 1.53000e+00
 9.40000e-01 3.49500e+01 3.00000e+00 6.50000e+01 4.00000e-01 1.38800e+01
 1.50000e+02 5.75000e+00 2.00000e-01 2.29700e+01 3.98000e+00 3.70000e-01
 1.12600e+03 5.72000e+00 6.70000e+00 2.65500e+02 3.24000e+00 2.17000e+00
 1.01300e+01 2.40000e+00 2.65000e+00 2.21000e+00 2.16000e+00 7.30000e-01
 1.24000e+00 3.44000e+00 4.68000e+00 2.22000e+00 2.69000e+00 4.62000e+00
 6.91000e+00 9.16000e+00 8.87000e+00 7.13000e+00 1.29900e+01 7.06000e+00
 7.45000e+00 1.00000e+01 8.70000e-01 1.10000e+02 1.04000e+00 5.79500e+01
 1.27000e+00 5.99500e+01 1.71585e+03 4.00000e+00 2.08000e+00 4.15000e+00
 4.77000e+00 2.20000e-01 4.10000e-01 4.50000e+00 7.14600e+01 6.42700e+01
 6.59100e+01 8.56480e+02 8.48000e+01 1.90800e+02 7.00100e+01 2.08160e+02
 6.00000e-02 3.90000e-01 8.25000e+01 7.90000e-01 3.20690e+02 8.20000e-01
 1.75000e+00 8.15000e+00 3.01900e+01 3.50000e-01 2.80050e+02 1.83750e+02
 3.76500e+02 2.75600e+02 8.30000e-01 7.90000e+00 6.98000e+00 3.03800e+01
 1.00000e-02 8.50000e+01 2.89000e+00 8.25000e+00 1.95000e+02 3.29500e+01
 4.55700e+01 8.65000e+00 4.50000e+01 1.60500e+01 1.75500e+01 8.00000e-02
 3.40000e+00 9.87000e+00 7.00000e-01 1.72000e+00 2.84000e+00 4.40000e+00
 1.68717e+03 9.10000e-01 4.50000e-01 6.70000e-01 6.30000e-01 6.80000e-01
 2.70000e+01 6.60000e-01 2.32000e+00 1.70000e+00 6.00000e+00 1.29800e+01
 3.85000e+00 2.49000e+00 2.70000e+00 1.62240e+02 5.70000e+00 7.88000e+00
 5.76000e+01 1.45200e+01 7.60000e-01 1.79000e+00 3.50000e+02 1.34000e+02
 1.62600e+02 2.38292e+03 2.39300e+02 1.25295e+03 2.05307e+03 1.13630e+03
 6.65000e+00 1.86786e+03 1.50000e+00 3.08820e+02 1.50500e+01 1.00000e-03
 1.25000e+01 2.22750e+02 1.10000e+01 1.58210e+02 3.29000e+00 2.35000e+00
 7.05000e+00 2.17800e+01 3.96000e+00 1.04000e+01 1.74000e+00 1.20000e+02
 3.15000e+00 1.17600e+01 1.01000e+00 4.00000e+02 1.11500e+01 8.14275e+03
 6.93000e+03 2.59500e+01 1.18400e+01 3.34710e+02 5.39000e+00 6.90000e-01
 5.10000e+00 9.29900e+02 5.23000e+02 5.57720e+02 7.40000e-01 9.15000e+00
 4.58000e+00 2.66000e+00 2.33000e+00 7.62000e+00 6.78000e+00 5.88000e+00
 4.86000e+00 3.32000e+00 9.42000e+00 6.79000e+00 2.96000e+00 1.98000e+00
 1.16300e+01 1.18000e+00 1.92000e+00 6.42000e+00 4.27000e+00 2.46000e+00
 1.68000e+00 1.66000e+00 9.84000e+00 2.93000e+02 1.59600e+01 3.71000e+00
 4.17500e+01 6.50000e+00 7.50000e+01 1.90000e+00 1.24198e+03 1.29500e+01
 4.18000e+00 6.00000e+01 1.10000e-01 1.17000e+01 4.20000e+01 5.90000e-01
 4.00000e-02 1.24800e+01 3.00000e+01 2.09200e+01 1.29380e+02 2.80400e+01
 6.00000e+02 4.05000e+00 6.49500e+02 3.89700e+04 2.02000e+00 4.80000e+00
 3.91000e+00 3.90000e+00 6.40000e+00 8.00000e+00 1.29900e+02 1.44200e+01
 2.50000e+01 2.80000e-01 6.20000e-01 7.70000e-01 2.70000e-01 8.60000e-01
 2.26000e+00 2.62000e+00 5.80000e-01 5.80000e+00 5.45580e+02 7.00000e+02
 9.80000e-01 7.85000e+00 6.89000e+00 4.37000e+00 3.56000e+00 5.32000e+00
 1.76000e+00 3.89680e+02 4.90000e+00 3.52000e+00 2.88000e+00 9.36000e+00
 4.80000e-01 1.39900e+01 2.39000e+00 3.20000e+00 5.50940e+02 4.28763e+03
 5.50640e+02 7.17230e+02 1.59249e+03 6.11860e+02 2.94920e+02 7.05450e+02
 1.12350e+02 1.06400e+02 4.51420e+02 3.06060e+03 1.21500e+01 6.62400e+01
 4.30000e+00 2.90000e+00 4.56000e+01 3.65000e+01 2.60500e+01 9.60000e+00
 1.02000e+00 2.50000e+02 4.36300e+01 6.76000e+00 4.80000e+01 3.15595e+03
 1.03400e+01 2.08340e+02 6.40000e+01 1.12118e+03 2.50000e+03 1.80000e+00
 1.08000e+00 4.34510e+02 3.28000e+00 1.43000e+00 4.02000e+00 4.08000e+00
 5.14000e+00 2.60000e+00 5.08000e+00 5.15000e+00 2.06400e+02 1.03900e+01
 1.15200e+01 1.63000e+00 1.23000e+00 1.11700e+01 1.60000e+00 1.66700e+01
 1.50700e+01 1.00600e+01 1.30000e+01 8.74000e+01 7.96800e+01 6.61700e+01
 3.37500e+01 1.32000e+00 3.63000e+01 3.83900e+01 2.00000e+02 1.45000e+01
 8.52800e+02 5.79000e+00 8.29000e+00 7.46000e+00 4.13000e+00 4.96000e+00
 1.07900e+01 1.64600e+01 1.30100e+01 1.10430e+02 1.31000e+00 7.80000e-01
 7.08000e+00 4.53300e+01 1.10450e+02 1.31600e+01 1.24600e+01 2.07500e+01
 2.49600e+01 1.57900e+01 1.41300e+01 8.55800e+01 5.22400e+01 1.02240e+02
 1.82984e+03 2.03310e+03 3.45030e+02 2.41000e+00 5.06000e+00 5.18000e+00
 8.78550e+02 6.63000e+00 1.66300e+01 2.92000e+00 9.96000e+00 6.08660e+02
 2.99000e+00 8.12000e+00 1.64000e+00 5.64000e+00 6.72000e+00 3.75000e+01
 1.96000e+00 9.98000e+00 4.67000e+00 1.16700e+01 8.00000e-01 1.86200e+01
 3.12000e+00 1.49600e+01 2.91300e+01 1.32900e+01 3.32900e+01 6.88080e+02
 4.47560e+02 8.00000e+01 3.38000e+00 9.00000e+01 1.20000e+01 6.36000e+00
 9.13000e+00 4.90250e+02 3.61590e+02 3.26000e+00 1.12000e+00 1.97000e+00
 6.67000e+00 1.40000e+00 2.85000e+00 4.98000e+00 5.66000e+00 3.58000e+00
 5.35000e+00 9.00000e-01 3.57000e+00 3.89000e+00 3.97000e+00 5.68000e+00
 1.52780e+02 3.22200e+01 2.40000e+02 1.67400e+01 1.60700e+01 2.18720e+02
 2.30000e+00 3.74000e+00 6.82050e+02 1.99600e+01 1.46000e+00 6.35010e+02
 4.11920e+02 5.99500e+02 2.83020e+02 3.39020e+02 7.43620e+02 4.95980e+02
 7.92000e+01 1.20580e+02 3.94932e+03 2.11874e+03 1.66500e+01 2.08000e+01
 3.92000e+00 4.14000e+00 4.64900e+02 6.38300e+02 4.25140e+02 1.45500e+01
 3.13000e+00 1.67000e+00 4.16106e+03 2.32700e+01 9.07000e+02 1.71000e+00
 9.01580e+02 6.06000e+02 5.50000e+00 3.97000e+01 1.15900e+01 6.41100e+01
 2.62730e+02 2.48000e+00 1.10000e+00 1.11000e+00 4.04000e+00 9.08160e+02
 5.17510e+02 4.04600e+01 4.24060e+02 5.49340e+02 9.71400e+01 5.17000e+00
 2.67000e+00 9.20000e-01 1.83000e+02 1.38000e+00 1.50036e+03 1.03875e+03
 8.50500e+02 2.10000e+01 2.72600e+01 1.48800e+01 1.98200e+01 1.67600e+01
 3.00000e+02 6.71000e+00 2.04000e+00 5.60000e-01 2.63300e+01 1.27006e+03
 8.49930e+02 7.60000e+00 7.00000e+00 1.52676e+03 9.87140e+02 5.13000e+00
 9.72000e+00 2.05000e+01 2.05300e+01 2.86800e+01 1.19000e+00 5.20000e-01
 7.84000e+00 2.42000e+00 3.16000e+00 4.70000e+00 9.00000e-02 2.19500e+02
 1.70000e+01 1.59926e+03 1.10044e+03 1.86000e+00 3.30000e+00 1.33500e+01
 4.76000e+00 2.24690e+02]
--------------------------------------------------
CustomerID unique len : 4372
unique of CustomerID : [17850. 13047. 12583. ... 13298. 14569. 12713.]
--------------------------------------------------
Country unique len : 37
unique of Country : ['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Greece' 'Singapore' 'Lebanon'
 'United Arab Emirates' 'Saudi Arabia' 'Czech Republic' 'Canada'
 'Unspecified' 'Brazil' 'USA' 'European Community' 'Bahrain' 'Malta' 'RSA']
--------------------------------------------------

## 결측치 처리

In [5]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [10]:
df['CustomerID'].unique()

array([17850., 13047., 12583., ..., 13298., 14569., 12713.])

In [12]:
df[df['CustomerID'].isnull()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,12/1/2010 14:32,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,12/1/2010 14:32,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,12/1/2010 14:32,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,12/1/2010 14:32,1.66,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,12/9/2011 10:26,4.13,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,12/9/2011 10:26,4.13,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,12/9/2011 10:26,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,12/9/2011 10:26,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,12/9/2011 10:26,1714.17,NaN,United Kingdom

In [16]:
df.dropna(subset=['CustomerID'], how='all', inplace=True)
df.shape

(406829, 8)

In [18]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

## 이상치 확인

In [19]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  406829.000000  406829.000000  406829.000000
mean       12.061303       3.460471   15287.690570
std       248.693370      69.315162    1713.600303
min    -80995.000000       0.000000   12346.000000
25%         2.000000       1.250000   13953.000000
50%         5.000000       1.950000   15152.000000
75%        12.000000       3.750000   16791.000000
max     80995.000000   38970.000000   18287.000000

- 수량(Quantity)에 음수? -> 반품일 수도 
    - 수량이 마이너스인 사유가 나와있지 않아서 분석에 용이하지 않다.
    - 음수값은 삭제하도록 한다.

In [21]:
df[df['Quantity'] < 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

In [27]:
df = df[df['Quantity'] > 0]

In [28]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  397924.000000  397924.000000  397924.000000
mean       13.021823       3.116174   15294.315171
std       180.420210      22.096788    1713.169877
min         1.000000       0.000000   12346.000000
25%         2.000000       1.250000   13969.000000
50%         6.000000       1.950000   15159.000000
75%        12.000000       3.750000   16795.000000
max     80995.000000    8142.750000   18287.000000

In [32]:
df[df['Quantity'] > 1000]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
4850,536809,84950,ASSORTED COLOUR T-LIGHT HOLDER,1824,12/2/2010 16:48,0.55,15299.0,United Kingdom
4945,536830,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,2880,12/2/2010 17:38,0.18,16754.0,United Kingdom
4946,536830,21915,RED HARMONICA IN BOX,1400,12/2/2010 17:38,1.06,16754.0,United Kingdom
6365,536890,17084R,ASSORTED INCENSE PACK,1440,12/3/2010 11:48,0.16,14156.0,EIRE
16435,537659,22189,CREAM HEART CARD HOLDER,1008,12/7/2010 16:43,2.31,18102.0,United Kingdom
...,...,...,...,...,...,...,...,...
533812,581115,22413,METAL SIGN TAKE IT OR LEAVE IT,1404,12/7/2011 12:20,2.75,15195.0,United Kingdom
534952,581175,23084,RABBIT NIGHT LIGHT,1440,12/7/2011 15:16,1.79,14646.0,Netherlands
540070,581458,22197,POPCORN HOLDER,1500,12/8/2011 18:45,0.72,17949.0,United Kingdom
540071,581459,22197,POPCORN HOLDER,1200,12/8/2011 18:46,0.72,17949.0,United Kingdom
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,12/9/2011 9:15,2.08,16446.0,United Kingdom

In [39]:
# 이용 고객수(4,338명), 이용품목건수(510만건), 이용 나라(37개국)
df['CustomerID'].nunique(), df['Quantity'].sum(), df['Country'].nunique()

(4339, 5181696, 37)

In [40]:
# 인당 평균 구매 건수는 약 92건
df.groupby('CustomerID')['Country'].count().mean()

91.70868863793501

In [42]:
# 인당 구매 건수는 최소 1에서 최대 7847건
df.groupby('CustomerID')['Country'].count().min(), df.groupby('CustomerID')['Country'].count().max()

(1, 7847)

# RFM 지표 계획

최근성(Recency), 구매빈도(Frequency), 구매금액(Monetary) 3가지의 지표들을 통해서 고객 점수 부여 및 등급화